h1 {
    color: #72efdd;
}

h2 {
    color: #64dfdf;
}

h3 {
    color: #56cfe1;
}

h4 {
    color: #48bfe3;
}

h5 {
    color: #4ea8de;
}

h6 {
    color: #5390d9;
}

strong {
    color: #adb5bd;
    font-weight: bold;
}

a {
    color: #adb5bd;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}